/* -- Import font
-------------------------------------------------------------------- */
@font-face {
  font-family: 'TTCommons';
  src: url('assets/ttcommons.woff2') format('woff2');
  font-display: swap;
}

/* -- Variables
-------------------------------------------------------------------- */

/* Color variables from Figma doc */
:root {
  --white: #fff;
  --offwhite: #e2e2e2;
  --grey00: #acacb4;
  --grey01: #9595a2;
  --grey02: #50515a;
  --grey03: #313238;
  --grey04: #292b2f;
  --grey05: #27282d;
  --grey06: #1f2024;
  --black: #000; /* not named in figma */
  --blue00: #056dff;
  --blue01: #1956dd;
  --blue: #3489ff; /* not named in figma*/
  --red00: #f44747;
  --red01: #ef0f0f;
  --green: #018458;
  --orange00: #ff9044;
  --orange01: #e26f22;
  --orange02: #c75000;

  /* Text variables */
  --text-body: var(--grey01);
  --text-link: var(--blue);
  --text-link-hovered: var(--blue00);
  --text-link-pressed: var(--blue01);
  --text-heading: var(--white);
  --text-footer: var(--grey00);

  --font-xxsmall: 0.75rem;
  --font-xsmall: 0.85rem;
  --font-small: 0.95rem;
  --font-medium: 1rem;
  --font-2medium: 1.2rem;
  --font-large: 1.5rem;
  --font-xl: 1.9rem;
  --font-xxl: 2rem;
  --font-xxxl: 2rem;

  --spacing-tight: 0;
  --spacing-normal: 0.02rem;
  --spacing-loose: 0.05rem;
  --spacing-looser: 0.1rem;
  --spacing-loosest: 0.2rem;

  /* Button variables */
  --button-white-bg: var(--white);
  --button-white-bg-hovered: var(--offwhite);
  --button-white-bg-pressed: var(--grey00);
  --button-white-txt: var(--grey06);

  --button-blue-bg: var(--blue00);
  --button-blue-bg-hovered: var(--blue);
  --button-blue-bg-pressed: var(--blue01);
  --button-blue-txt: var(--white);

  --button-orange-bg: var(--orange02);
  --button-orange-bg-hovered: var(--orange01);
  --button-orange-bg-pressed: var(--orange01);
  --button-orange-txt: var(--white);

  --border-line: var(--grey03) 0.05em solid;
  --border-line-light: var(--grey02) 0.05em solid;
  --border-line-white: var(--white) 0.05em solid;

  --drop-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  --fadeout-box: 0px 0px 20px rgba(0, 0, 0, 0.85),
    0px 0px 30px rgba(0, 0, 0, 0.85), 0px 0px 40px rgba(0, 0, 0, 0.85);
  --text-shadow: 0 0 1em var(--black), 0 0 1.5em var(--black),
    0 0 2em var(--black);
  --text-shadow-light: 0 0 1em #151818, 0 0 1.5em #151818, 0 0 2em #151818;

  /* z-index layers */
  --above-text-layer: 4;
  --text-layer: 3;
  --below-text-layer: 2;
  --background-layer: 1;

  /* grid variables */
  --grid-16-equal-columns: repeat(16, 1fr);
  /* subgrids to fit inside the grid above */
  --grid-4-equal-columns: repeat(4, 1fr);
  --grid-6-equal-columns: repeat(6, 1fr);
  --grid-12-equal-columns: repeat(12, 1fr);
  --grid-13-equal-columns: repeat(13, 1fr);
  --grid-14-equal-columns: repeat(14, 1fr);
  --grid-15-equal-columns: repeat(15, 1fr);

  --grid-rows-auto: max-content;

  --max-header-width: 70em;
  --max-content-width: 50em;

  /* copied from Chakra for Pricing page */
  --chakra-colors-gray-25: #f7f8fa;
  --chakra-colors-gray-50: #efeff1;
  --chakra-colors-gray-100: #e1e2e5;
  --chakra-colors-gray-200: #c6c7cd;
  --chakra-colors-gray-200: #abacb5;
  --chakra-colors-gray-400: #8f919d;
  --chakra-colors-gray-500: #757785;
  --chakra-colors-gray-600: #5d5f6a;
  --chakra-colors-gray-700: #45464f;
  --chakra-colors-gray-800: #2d2e34;
  --chakra-colors-gray-850: #212226;
  --chakra-colors-gray-900: #151618;
}

/* when the viewport reaches X wide, scale up most of the font sizes */

@media (min-width: 25em) {
  :root {
    --font-small: 1.1rem;
    --font-medium: 1.3rem;
    --font-large: 1.5rem;
    --font-xl: 2rem;
    --font-xxl: 3rem;
    --font-xxxl: 3.6rem;
  }
}

/* when the viewport reaches X wide, centre the layout columns with flexible first and last columns */

@media (min-width: 60em) {
  :root {
    /* grid variables */
    --grid-16-equal-columns: calc(50vw - 29.5rem) repeat(14, 1fr)
      calc(50vw - 29.5rem);
    /* subgrids to fit inside the grid above */
    --grid-15-columns-lastauto: repeat(14, 1fr) calc(50vw - 29.5rem);
    --grid-14-columns-firstauto: calc(50vw - 29.5rem) repeat(13, 1fr);
  }
} /* end @media (min-width: 60em) */

@media (min-width: 80em) {
  :root {
    /* grid variables */
    --grid-16-equal-columns: calc(50vw - 35rem) repeat(14, 1fr)
      calc(50vw - 35rem);
    /* subgrids to fit inside the grid above */
    --grid-15-columns-lastauto: repeat(14, 1fr) calc(50vw - 35rem);
    --grid-14-columns-firstauto: calc(50vw - 35rem) repeat(13, 1fr);
  }
} /* end @media (min-width: 80em) */

/* -- CSS reset
-------------------------------------------------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 100%; /* all font sizes and rems scale from here */
}

/* Set core body defaults */
body {
  font-synthesis: none;
  line-height: 1.35;
  margin: 0;
  min-height: 100vh;
  padding: 1em;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Natural flow and rhythm by default */
main > * + * {
  margin: 0;
  margin-top: 2.7em;
  margin-bottom: 1.35em;
}

body.privacy main > * + *,
body.code-of-conduct main > * + * {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.06em;
  font-variation-settings: 'wght' 600;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  color: inherit;
  font: inherit;
  border: inherit;
  padding: inherit;
}

/* Style focus for people using keyboard navigation */
:focus {
  outline: 0.1rem solid var(--orange00);
  box-shadow: 0 0 0.2rem var(--orange00);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

@media print {
  /* hide everything that’s not in the main body of the site */
  body > *:not(main) {
    display: none;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
}

/* -- Typography defaults
-------------------------------------------------------------------- */

html {
  background-color: var(--black);
  /* root font size */
  font-size: 1em;
}

body {
  /* gradient on top, grid underneath */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 15em, var(--black) 30em),
    url(assets/grid-cell.svg) 0 0 repeat; /* 15em = point where grid is completely visible, 30em = point where gradient transitions to solid colour */
  background-size: 100% 100%, 40px 40px;
  background-attachment: scroll, scroll;
  color: var(--text-body);
  font-family: 'TTCommons', Arial, sans-serif;
  font-size: 1em;
  font-variation-settings: 'wght' 400;
  font-size: var(--font-medium);
  letter-spacing: var(--spacing-normal);
  margin: 0;
  min-width: 300px;
}

/* shorten grid fadeout on wider views */
@media (min-width: 60em) {
  body {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 10em,
        var(--black) 20em
      ),
      url(assets/grid-cell.svg) 0 0 repeat; /* 10em = point where grid is completely visible, 20em = point where gradient transitions to solid colour */
    background-size: 100% 100%, 2.3rem 2.3rem;
  }
} /* end @media (min-width: 60em) */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-heading);
  line-height: 1.15;
  letter-spacing: var(--spacing-loose);
}

h1 {
  font-size: var(--font-xxl);
  font-variation-settings: 'wght' 450;
  margin-bottom: 0.25em;
  text-align: center;
}

h2 {
  font-size: var(--font-large);
}

body.privacy main h2,
body.code-of-conduct main h2 {
  margin-top: 2em;
}

/* overwrite Docusaurus styling */

h1 {
  font-family: 'TTCommons', Arial, sans-serif;
  font-size: 2em;
  font-weight: 750;
  margin: 0.67em 0;
}

h2 {
  font-family: 'TTCommons', Arial, sans-serif;
  font-weight: 750;
  margin: 0.83em 0;
}

p {
  margin: 1em 0;
}

/* end overwrite Docusaurus styling */

a {
  color: var(--text-link);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

a:hover,
a:focus {
  color: var(--text-link-hovered);
}

a:active {
  color: var(--text-link-pressed);
}

/* for videos and iframes with aspect ratios */

[style*='--aspect-ratio'] > :first-child {
  width: 100%;
}

[style*='--aspect-ratio'] > img {
  height: auto;
}

@supports (--custom: property) {
  [style*='--aspect-ratio'] {
    position: relative;
  }
  [style*='--aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*='--aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

video {
  border-radius: 0.4em;
  background: var(--grey06);
  height: auto;
  width: 100%;
  z-index: var(--text-layer);
}

iframe {
  border: none;
  border-radius: 0.5em;
}

label {
  color: var(--white);
  font-size: var(--font-small);
}

input[type='email'],
input[type='text'] {
  background: var(--grey05);
  border: none;
  color: var(--white);
  font-size: var(--font-xsmall);
  line-height: 1;
  padding: 0.75em;
}

body.landing-page p:not(li p) {
  text-shadow: var(--text-shadow);
}

/* -- Reusable styles (components)
-------------------------------------------------------------------- */

/* screenshot image */

.screenshot,
.screenshot picture,
.screenshot img {
  background: var(--grey06);
  box-shadow: var(--drop-shadow);
  border: none;
  border-radius: 0.4em;
  display: block;
  position: relative;
  height: auto;
  width: 100%;
}

figure picture,
figure img {
  border: none;
  border-radius: 0.4em;
  display: block;
  position: relative;
  height: auto;
  width: 100%;
}

/* fadeout effect */

.fadeout {
  position: relative;
}

.fadeout:after {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--text-layer);
}

.fadeout-box {
  background-color: rgba(0, 0, 0, 0.9); /* so arrows don’t show through */
  box-shadow: var(--fadeout-box);
  z-index: var(--text-layer);
}

.description {
  z-index: var(--text-layer);
}

.description > p {
  max-width: 50ch; /* maximum characters per line */
}

/* grid background */
.grid-background {
  background: url(assets/grid-cell.svg) 0 0 repeat, rgba(0, 0, 0, 0.9);
  background-size: 40px 40px; /* same as body bg */
  background-attachment: scroll;
  position: absolute; /* remove from layout flow */
  height: 161px; /* 4 cells */
  width: 281px; /* 7 cells */
}
/* arrow link */

.arrow-link {
  background: url(assets/arrow-right.svg) left center no-repeat;
  background-size: 1.2em 1.2em;
  font-size: var(--font-small);
  padding-left: 1.8em;
}

.arrow-link-paragraph {
  margin-bottom: 2.7em;
}

/* arrows */

.arrow {
  color: var(--white);
}

/* button link */

input[type='submit'],
.button-link {
  background: var(--button-blue-bg);
  border-radius: 0.2em;
  color: var(--button-blue-txt);
  display: inline-block;
  font-size: var(--font-xsmall);
  margin: 0.3em;
  padding: 0.65em 0.8em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  text-shadow: none;
}

.button-link.orange {
  background: var(--button-orange-bg);
  border-radius: 0.2em;
  color: var(--button-orange-txt);
}

.duo-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  gap: 1em;
  padding: 1em;
  width: max-content;
  justify-self: center;
}

.button-link-cta,
.button-link-cta-primary,
.button-link-cta-secondary {
  font-size: var(--font-2medium);
}

.button-link-cta-primary {
  background: var(--button-orange-bg);
}

.button-link.button-link-cta-primary:hover,
.button-link.button-link-cta-primary:active {
  background: var(--button-orange-bg-hovered);
}

.button-link {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.button-link.pill {
  border-radius: 1.5em;
}

.button-link:hover,
.button-link:focus,
input[type='submit']:hover,
input[type='submit']:focus {
  background: var(--button-blue-bg-hovered);
  color: var(--button-blue-txt);
}

.button-link.orange:hover,
.button-link.orange:focus {
  background: var(--button-orange-bg-hovered);
  color: var(--button-orange-txt);
}

.button-link:active,
input[type='submit']:active {
  background: var(--button-blue-bg-pressed);
  color: var(--button-blue-txt);
}

@media (min-width: 25em) {
  .button-link,
  input[type='submit'] {
    padding: 0.8em 1.6em;
  }
}

.button-link.white,
input[type='submit'].white {
  background: var(--button-white-bg);
  color: var(--button-white-txt);
}

.button-link.white:hover,
.button-link.white:focus,
input[type='submit'].white:hover,
input[type='submit'].white:focus {
  background: var(--button-white-bg-hovered);
  color: var(--button-white-txt);
}

.button-link.white:active,
input[type='submit'].white:active {
  background: var(--button-white-bg-pressed);
  color: var(--button-white-txt);
}

/* eyebrow */

.eyebrow {
  color: var(--text-body);
  display: block;
  font-size: var(--font-xxsmall);
  letter-spacing: var(--spacing-loosest);
  margin-top: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

/* -- General layout
-------------------------------------------------------------------- */

body {
  padding: 0.675em 0;
}

@media (min-width: 23em) {
  body {
    padding: 0.675em 0;
  }
}

#content {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.35em;
}

@supports (display: grid) {
  #content,
  #newsletter,
  .site-footer {
    display: grid;
    grid-template-columns: var(--grid-16-equal-columns);
    padding-left: 0;
    padding-right: 0;
  }

  #content > *,
  #newsletter > *,
  .site-footer > * {
    grid-column: 2 / 16;
  }

  body.privacy #content > *,
  body.code-of-conduct #content > * {
    grid-column: 2 / 16;
  }

  @media (min-width: 45em) {
    #content.landing-page {
      display: grid;
      grid-template-columns: var(--grid-16-equal-columns);
      grid-template-rows: var(--grid-rows-auto);
      /* make grid full-width */
      padding-left: 0;
      padding-right: 0;
    }

    body.privacy #content > *,
    body.code-of-conduct #content > * {
      grid-column: 4 / 14;
    }
  } /* end @media (min-width: 45em) */
} /* end @supports (display: grid) */

@supports (display: flex) {
  .center-small {
    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: 100%;
    max-width: 52ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
} /* end @supports (display:flex) */

/* -- Header
-------------------------------------------------------------------- */

.site-header {
  margin: 0.3em auto 4.6em;
  max-width: var(--max-header-width);
  padding: 0 1.35em;
}

.navigation-list a {
  color: var(--white);
  display: block;
  padding: 0.5em 0.75em;
  text-decoration: none;
}

.navigation-list li:nth-of-type(1) {
  margin-top: 0.5em;
}

.navigation-list a:hover,
.navigation-list a:active,
.navigation-list a:focus {
  text-decoration: underline;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.06em;
}

@supports (display: flex) {
  .site-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
  }

  @media (min-width: 45em) {
    .site-header {
      flex-wrap: nowrap;
    }

    .navigation {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-content: stretch;
      align-items: flex-start;
      gap: 0.5em;
    }

    .navigation-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-content: stretch;
      align-items: flex-start;
    }

    .navigation-list li:nth-of-type(1) {
      margin-top: 0;
    }

    .navigation-list a {
      padding: 0.3em 0.5em;
    }

    .navigation .button-link {
      /* move button link out of flow, to right */
      order: 2;
    }
  } /* end @media (min-width: 45em) */
} /* end @supports (display: flex) */

.site-header .logo {
  margin: 0.3em 0.2em 0.5em 0;
}

.site-header .logo img {
  height: 1em;
  width: auto;
}

@media (min-width: 20em) {
  .site-header .logo {
    margin: 0 0.5em 0.5em 0;
  }

  .site-header .logo img {
    height: 1.5em;
  }
} /* end @media (min-width: 20em) */

@media (min-width: 30em) {
  .site-header .logo {
    margin: 0 0.6em 0.5em 0;
  }

  .site-header .logo img {
    height: 1.68em;
  }
}

@supports (display: flex) {
  .button-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-start;
    gap: 0.6em;
  }

  .button-link {
    margin: 0 0 0.75rem 0;
  }
} /* end @supports (display: flex) */

/* -- Intro
-------------------------------------------------------------------- */

.intro-title {
  font-size: var(--font-xxxl);
}

[data-edge-source='first-heading'] {
  padding: 0 0 0.5em;
}

.subtitle {
  margin-left: auto;
  margin-right: auto;
  max-width: 52ch;
  text-align: center;
}

@supports (display: grid) {
  @media (min-width: 45em) {
    /* position each item on the grid */
    .intro-title {
      grid-column: 6 / 12; /* 6 cols */
    }

    .initial-state {
      grid-column: 7 / 11; /* 4 cols */
    }
  } /* end @media (min-width: 45em) */
} /* end @supports (display: grid) */

.feature {
  margin-top: 4.05em;
}

/* -- Feature #1: Editor
-------------------------------------------------------------------- */

.feature.editor .grid-background {
  grid-row: 2 / span 2;
  left: -1.1em;
}

@supports (display: grid) {
  #content > .feature.editor {
    grid-column: 1 / span 16; /* 16 cols */
    /* subgrid */
    display: grid;
    grid-template-columns: var(--grid-16-equal-columns);
    grid-template-rows: auto auto auto;
  }

  #content > .feature.editor > * {
    grid-column: 2 / span 14;
  }

  @media (min-width: 45em) {
    #content > .feature.editor .video-wrap {
      grid-column: 8 / span 8;
      z-index: var(--above-text-layer);
    }

    #content > .feature.editor .description {
      grid-column: 2 / span 6;
      grid-row: 1 / span 2;
      padding-right: 1em;
    }
  } /* end @media (min-width: 45em) */

  @media (min-width: 60em) {
    #content > .feature.editor {
      grid-column: 1 / span 14; /* 14 cols */
      /* subgrid */
      display: grid;
      grid-template-columns: var(--grid-14-columns-firstauto);
      grid-template-rows: var(--grid-rows-auto);
    }

    #content > .feature.editor .grid-background {
      height: 241px;
      width: 681px;
    }
  } /* end @media (min-width: 60em) */
} /* end @supports (display: grid) */

/* -- Feature #2: Statecharts
-------------------------------------------------------------------- */

@supports (display: grid) {
  .feature.statecharts .grid-background {
    grid-row: 2 / span 2;
    right: -1.2em;
  }

  #content > .feature.statecharts {
    grid-column: 2 / span 14; /* 14 cols */
    /* subgrid */
    display: grid;
    grid-template-columns: var(--grid-14-equal-columns);
    grid-template-rows: auto auto;
  }

  #content > .feature.statecharts > * {
    grid-column: 1 / span 14;
  }

  #content > .feature.statecharts > .screenshot {
    /* subgrid */
    display: grid;
    grid-template-columns: var(--grid-14-equal-columns);
    grid-template-rows: auto;
  }

  #content > .feature.statecharts > .screenshot > picture {
    grid-column: 1 / span 14;
    grid-row: 1 / span 1; /* overlap */
  }

  /* comments */

  .comment {
    background: var(--blue01);
    border-color: var(--blue01) transparent;
    border-radius: 1.5em;
    color: var(--white);
    font-size: var(--font-xxsmall);
    max-width: 26ch;
    padding: 0.75em 1em;
    position: relative;
    text-align: center;
    width: auto;
    z-index: var(--above-text-layer);
  }

  .comment-1 {
    position: absolute;
    top: 0;
    margin-left: 50%;
  }

  .comment-2 {
    background: var(--orange02);
    position: absolute;
    margin-top: 50%;
    right: 0;
  }

  .comment-3 {
    background: var(--green);
    position: absolute;
    margin-top: 95%;
    right: 0;
  }

  .comment:after {
    content: '';
    border-color: var(--blue01) transparent;
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    /* arrow at top */
    border-width: 0 0.65em 1em;
    top: -0.95em;
    left: 50%;
    margin-left: -1em;
  }

  .comment-2:after {
    border-color: transparent var(--orange02);
    /* arrow on right */
    border-width: 0.65em 0 0.65em 1em;
    top: 50%;
    left: auto;
    right: -0.95em;
    margin-top: -0.65em;
  }

  .comment-3:after {
    border-color: var(--green) transparent;
    /* arrow at bottom */
    border-width: 1em 0.65em 0;
    bottom: -0.99em;
    top: auto;
  }

  @media (min-width: 50em) {
    #content > .feature.statecharts > .grid-background {
      display: none;
    }

    #content > .feature.statecharts > .screenshot {
      grid-template-rows: repeat(4, auto);
    }

    #content > .feature.statecharts > .description {
      grid-column: 9 / span 6;
      grid-row: 1 / span 2;
      padding: 34px 1.5em 0 2em; /* px helps line up with background grid */
      text-shadow: var(--text-shadow-light);
    }

    #content > .feature.statecharts > .description p {
      background: none;
      box-shadow: none;
    }

    #content > .feature.statecharts > .screenshot {
      background: url(./assets/editor-background-grid.svg) repeat;
      grid-column: 1 / span 14;
      grid-row: 1 / span 5;
      padding: 1em; /* shows the grid background behind */
    }

    #content > .feature.statecharts > .screenshot > picture {
      grid-column: 1 / span 8;
    }

    .comment {
      font-size: var(--font-small);
    }

    #content > .feature.statecharts > .comment-1 {
      grid-column: 4 / span 4;
      grid-row: 1 / span 1;
      position: relative;
      margin: 0;
      margin-top: -0.5em; /* pull slightly off grid */
    }

    #content > .feature.statecharts > .comment-2 {
      justify-self: flex-end;
      grid-column: 9 / span 6;
      grid-row: 4 / span 1;
      position: relative;
      margin: 0;
    }

    #content > .feature.statecharts > .comment-3 {
      grid-column: 2 / span 4;
      grid-row: 5 / span 1;
      position: relative;
      margin: 0;
      margin-bottom: -0.5em; /* pull slightly off grid */
    }
  } /* end @media (min-width: 50em) */

  @media (min-width: 70em) {
    #content > .feature.statecharts > .comment-2 {
      margin-right: -0.5em; /* pull slightly off grid */
    }
  } /* end @media (min-width: 70em) */
} /* end @supports (display: grid) */

/* -- Feature #3: VS Code extension
-------------------------------------------------------------------- */

.feature.vscode .screenshot {
  margin-bottom: -2em; /* pull under following content */
}

@supports (display: grid) {
  #content > .feature.vscode {
    grid-column: 1 / span 14; /* 14 cols */
    /* subgrid */
    display: grid;
    grid-template-columns: var(--grid-14-equal-columns);
    grid-template-rows: auto auto;
  }

  #content > .feature.vscode > * {
    grid-column: 2 / span 13;
  }

  #content > .feature.vscode .grid-background {
    grid-row: 2 / span 1;
  }

  #content > .feature.vscode .screenshot {
    grid-column: 1 / span 14;
  }

  @media (min-width: 60em) {
    #content > .feature.vscode {
      grid-column: 2 / span 14;
      grid-template-columns: var(--grid-14-equal-columns);
    }

    #content > .feature.vscode .grid-background {
      grid-column: 5 / span 9;
      height: 241px;
      width: 681px;
      justify-self: center;
    }

    #content > .feature.vscode .description {
      grid-column: 6 / span 7;
    }

    #content > .feature.vscode .screenshot {
      grid-column: 1 / span 14;
    }
  } /* end @media (min-width: 60em) */

  @media (min-width: 95em) {
    #content > .feature.vscode .description {
      margin-top: -7em;
    }

    #content > .feature.vscode .screenshot {
      grid-column: 2 / span 12;
    }
  } /* end @media (min-width: 95em) */
} /* end @supports (display: grid) */

/* -- Feature #4: State management
-------------------------------------------------------------------- */

.feature.state-management .grid-background {
  /* narrower */
  width: 161px;
}

#content > .feature.state-management > figure {
  z-index: var(--below-text-layer);
}

@supports (display: grid) {
  #content > .feature.feature.state-management {
    grid-column: 1 / span 16; /* 16 cols */
  }

  #content > .feature.feature.state-management {
    /* subgrid */
    display: grid;
    grid-template-columns: var(--grid-16-equal-columns);
    grid-template-rows: auto auto auto;
  }

  #content > .feature.state-management > * {
    grid-column: 2 / span 14;
  }

  .feature.state-management figure {
    margin: 0;
  }

  .feature.state-management .grid-background {
    grid-row: 2 / span 2;
    margin-left: -1em;
  }

  #content > .feature.state-management > figure:nth-of-type(1) {
    grid-column: 1 / span 8;
    grid-row: 1 / span 1;
  }

  #content > .feature.state-management > figure:nth-of-type(2) {
    grid-column: 9 / span 8;
    grid-row: 1 / span 1;
  }

  #content > .feature.state-management .before,
  #content > .feature.state-management .after {
    color: var(--white);
    z-index: var(--above-text-layer);
    margin: 0;
    padding: 0 1em;
    position: absolute;
    text-shadow: var(--text-shadow);
    width: 100%;
  }

  #content > .feature.state-management .after {
    text-align: right;
  }

  @media (min-width: 45em) {
    #content > .feature.state-management {
      grid-column: 3 / span 12; /* 12 cols */
    }
  } /* end @media (min-width: 45em) */

  @media (min-width: 60em) {
    #content > .feature.state-management .description {
      grid-column: 3 / span 5;
      grid-row: 2 / span 1;
      margin-top: 3em;
      padding-right: 1em;
    }

    #content > .feature.state-management .grid-background {
      height: 241px;
      width: 521px;
      margin-top: 2em;
    }

    #content > .feature.state-management .description p.fadeout-box {
      background: none;
      box-shadow: none;
      text-shadow: var(--text-shadow);
    }

    #content > .feature.state-management > figure:nth-of-type(1) {
      grid-column: 1 / span 9;
      grid-row: 1 / span 1;
    }

    #content > .feature.state-management > figure:nth-of-type(2) {
      grid-column: 8 / span 9;
      grid-row: 2 / span 1;
      margin-top: -10em; /* pull into row above slightly */
    }
  } /* end @media (min-width: 60em) */

  @media (min-width: 95em) {
    #content > .feature.feature.state-management {
      grid-column: 2 / 16; /* 14 cols */
    }

    #content > .feature.feature.state-management {
      /* subgrid */
      grid-template-columns: var(--grid-14-equal-columns);
    }

    #content > .feature.state-management .description {
      grid-column: 2 / 7;
    }

    #content > .feature.state-management > figure:nth-of-type(1) {
      grid-column: 1 / 9;
    }

    #content > .feature.state-management > figure:nth-of-type(2) {
      grid-column: 7 / 16;
    }
  } /* end @media (min-width: 90em) */
} /* end @supports (display: grid) */

/* -- Feature #5: Registry
-------------------------------------------------------------------- */

.feature.registry .screenshot {
  margin-bottom: -4em; /* pull under following content */
}

.feature.registry .grid-background {
  display: none;
}

@supports (display: grid) {
  @media (min-width: 45em) {
    #content > .feature.registry {
      grid-column: 3 / span 13; /* 13 cols */
    }
  } /* end @media (min-width: 45em) */

  @media (min-width: 60em) {
    #content > .feature.registry {
      /* subgrid */
      display: grid;
      grid-template-columns: var(--grid-13-equal-columns);
      grid-template-rows: var(--grid-rows-auto);
    }

    #content > .feature.registry .description {
      grid-column: 1 / 9;
      margin-top: -3em;
    }

    .feature.registry .grid-background {
      display: block;
      grid-column: 1 / 9;
      grid-row: 2 / span 1;
      height: 241px;
      width: 521px;
      margin-left: -38px;
      margin-top: -3.75em;
    }

    #content > .feature.registry .description .fadeout-box {
      background: none;
      box-shadow: none;
      text-shadow: var(--text-shadow);
    }

    #content > .feature.registry .screenshot {
      grid-column: 4 / span 11;
    }
  } /* end @media (min-width: 60em) */

  @media (min-width: 95em) {
    #content > .feature.registry .description {
      margin-top: -10em;
      margin-bottom: 8em;
    }

    #content > .feature.registry .screenshot {
      grid-column: 4 / span 10;
    }
  } /* end @media (min-width: 95em) */
} /* end @supports (display: grid) */

/* -- Further features: Powered by XState list
-------------------------------------------------------------------- */

.powered-by-xstate .grid-background {
  width: 241px;
}

[data-edge-source='powered-by-xstate'] {
  padding-top: 0.5em;
}

[data-edge-source='powered-by-xstate-subhead'] {
  padding: 0.5em 1em;
  margin-top: 0;
}

@supports (display: grid) {
  #content > .powered-by-xstate {
    grid-column: 3 / span 12; /* 12 cols */
    /* subgrid */
    display: grid;
    grid-template-columns: var(--grid-12-equal-columns);
    grid-template-rows: auto auto auto;
  }

  #content > .powered-by-xstate > * {
    grid-column: 1 / span 12;
  }

  #content > .powered-by-xstate > .grid-background {
    grid-column: 1 / span 12;
    grid-row: 1 / span 2;
    justify-self: center;
  }

  @media (min-width: 45em) {
    #content > .powered-by-xstate > p {
      grid-column: 3 / span 8;
    }

    #content > .powered-by-xstate > .powered-by-xstate-list {
      grid-column: 2 / span 10;
    }
  }

  @media (min-width: 35em) {
    #content > .powered-by-xstate > .grid-background {
      width: 521px;
    }
  } /* end @media (min-width: 30em) */

  @media (min-width: 60em) {
    .powered-by-xstate-list {
      /* subgrid */
      display: grid;
      grid-template-columns: var(--grid-12-equal-columns);
      grid-template-rows: var(--grid-rows-auto);
    }

    .powered-by-xstate-list li {
      grid-column: 1 / span 5;
    }

    .powered-by-xstate-list li:nth-of-type(2n) {
      grid-column: 8 / span 5;
    }
  } /* end @media (min-width: 60em) */
} /* end @supports (display: grid) */

.powered-by-xstate {
  text-align: center;
}

.powered-by-xstate-heading {
  font-size: var(--font-xxl);
  margin-bottom: 0.5em;
}

.powered-by-xstate-list .extra-feature {
  background: url(assets/starburst.svg) top center no-repeat;
  background-size: 5em 5em;
  margin-top: 3em;
  padding-top: 5.3em; /* leave space for starburst */
  position: relative;
  z-index: var(--text-layer);
}

.powered-by-xstate-list .extra-feature:before {
  background: top center no-repeat;
  background-size: 2.5em 5em;
  content: '';
  display: block;
  height: 5em;
  position: absolute;
  width: 5em;
  top: 0;
  left: 50%;
  margin-left: -2.5em;
}

.powered-by-xstate-list .js:before {
  background-image: url(assets/js.svg);
}

.powered-by-xstate-list .packages:before {
  background-image: url(assets/packages.svg);
}

.powered-by-xstate-list .github:before {
  background-image: url(assets/github.svg);
}

.powered-by-xstate-list .stack:before {
  background-image: url(assets/stack.svg);
}

.powered-by-xstate-list .robust:before {
  background-image: url(assets/hammer.svg);
}

.powered-by-xstate-list .discord:before {
  background-image: url(assets/discord.svg);
}

/* -- Testimonials
-------------------------------------------------------------------- */

.loved-by-teams > h2 {
  font-size: var(--font-xl);
  text-align: center;
}

.testimonial {
  background: var(--grey04);
  box-shadow: var(--drop-shadow);
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 2em 1.35em 0.75em 1.35em;
}

.grid-background-two {
  display: none;
}

@supports (display: grid) {
  #content > .loved-by-teams {
    grid-column: 1 / span 16;
    /* subgrid */
    display: grid;
    grid-template-columns: var(--grid-16-equal-columns);
    grid-template-rows: auto auto auto;
  }

  #content > .loved-by-teams .grid-background {
    grid-row: 1 / span 2;
    grid-column: 1 / span 15;
    justify-self: center;
  }

  .loved-by-teams > * {
    grid-column: 1 / span 15;
  }

  @media (min-width: 45em) {
    #content > .loved-by-teams {
      grid-column: 2 / span 15; /* 15 cols */
    }
  } /* end @media (min-width: 45em) */

  @media (min-width: 60em) {
    #content > .loved-by-teams {
      grid-template-columns: var(--grid-15-columns-lastauto);
    }

    #content > .loved-by-teams h2 {
      text-align: left;
      grid-column: 1 / span 4;
    }

    #content > .loved-by-teams .grid-background {
      grid-column: 1 / span 6;
      justify-self: baseline;
      margin-left: -38px;
      margin-top: -24px;
    }

    #content > .loved-by-teams .grid-background-two {
      display: block;
      height: 521px;
      width: 521px;
      margin-left: 0;
      margin-top: 0;
      align-self: center;
      grid-row: 2 / span 1;
      grid-column: 7 / span 6;
    }
  } /* end @media (min-width: 60em) */

  /* give testimonials the offset layout */
  .testimonials {
    /* subgrid */
    display: grid;
    grid-template-columns: var(--grid-16-equal-columns);
    grid-template-rows: var(--grid-rows-auto);
  }

  @media (min-width: 60em) {
    .testimonials {
      grid-template-columns: var(--grid-15-columns-lastauto);
    }
  } /* end @media (min-width: 45em) */

  .testimonials > * {
    grid-column: 2 / span 14;
    margin-bottom: -0.75em; /* pull under testimonial above */
  }
  /* -- Testimonial 1
--------------------------- */

  .testimonials li:nth-of-type(1) {
    grid-column: 2 / span 14;
    margin-top: 3em; /* space for heading */
    position: relative;
    z-index: 10;
  }

  @media (min-width: 45em) {
    .testimonials li:nth-of-type(1) {
      grid-column: 3 / span 12;
    }
  } /* end @media (min-width: 45em) */

  @media (min-width: 60em) {
    .testimonials li:nth-of-type(1) {
      grid-column: 6 / span 7;
      grid-row: -2;
    }
  } /* end @media (min-width: 60em) */

  /* User’s testimonials heading */

  .testimonials li:nth-of-type(1):before,
  .testimonials li:nth-of-type(1):after {
    content: '';
    display: block;
    position: absolute;
  }

  .testimonials li:nth-of-type(1):before {
    background-color: var(--grey04);
    background-image: url('assets/side-arrow.svg');
    background-repeat: no-repeat;
    background-position: 1.5em 1.25em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: var(--border-line-light);
    height: 3em;
    padding: 0 1.5em;
    margin-bottom: 0;
    top: -3em;
    left: 0;
    width: 100%;
  }

  .testimonials li:nth-of-type(1):after {
    border-bottom: var(--border-line-white);
    color: var(--white);
    font-size: var(--font-xsmall);
    content: 'User’s testimonials';
    height: 4em;
    padding: 1.5em 0;
    letter-spacing: 0.1em;
    right: 1.5em;
    text-transform: uppercase;
    text-align: right;
    top: -4em;
    width: auto;
  }

  /* -- Testimonial 2
--------------------------- */

  .testimonials li:nth-of-type(2) {
    grid-column: 4 / span 13;
    z-index: 9;
  }

  @media (min-width: 45em) {
    .testimonials li:nth-of-type(2) {
      grid-column: 5 / span 12;
    }
  } /* end @media (min-width: 45em) */

  @media (min-width: 60em) {
    .testimonials li:nth-of-type(2) {
      grid-column: 8 / span 7;
    }
  } /* end @media (min-width: 60em) */

  @media (min-width: 90em) {
    .testimonials li:nth-of-type(2) {
      grid-column: 7 / span 7;
    }
  } /* end @media (min-width: 90em) */

  /* -- Testimonial 3
--------------------------- */

  .testimonials li:nth-of-type(3) {
    grid-column: 1 / span 13;
    z-index: 8;
  }

  @media (min-width: 45em) {
    .testimonials li:nth-of-type(3) {
      grid-column: 2 / span 11;
    }
  } /* end @media (min-width: 45em) */

  @media (min-width: 60em) {
    .testimonials li:nth-of-type(3) {
      grid-column: 3 / span 7;
    }
  } /* end @media (min-width: 60em) */

  @media (min-width: 90em) {
    .testimonials li:nth-of-type(3) {
      grid-column: 4 / span 6;
    }
  } /* end @media (min-width: 90em) */

  /* -- Testimonial 4
--------------------------- */

  .testimonials li:nth-of-type(4) {
    grid-column: 2 / span 14;
    z-index: 7;
  }

  @media (min-width: 45em) {
    .testimonials li:nth-of-type(4) {
      grid-column: 4 / span 11;
    }
  } /* end @media (min-width: 45em) */

  @media (min-width: 60em) {
    .testimonials li:nth-of-type(4) {
      grid-column: 5 / span 8;
    }
  } /* end @media (min-width: 60em) */

  @media (min-width: 90em) {
    .testimonials li:nth-of-type(4) {
      grid-column: 5 / span 7;
    }
  } /* end @media (min-width: 90em) */

  /* -- Testimonial 5
--------------------------- */

  .testimonials li:nth-of-type(5) {
    grid-column: 4 / span 13;
    z-index: 6;
  }

  @media (min-width: 45em) {
    .testimonials li:nth-of-type(5) {
      grid-column: 7 / span 9;
    }
  } /* end @media (min-width: 45em) */

  @media (min-width: 60em) {
    .testimonials li:nth-of-type(5) {
      grid-column: 8 / span 7;
    }
  } /* end @media (min-width: 60em) */

  @media (min-width: 90em) {
    .testimonials li:nth-of-type(5) {
      grid-column: 7 / span 6;
    }
  } /* end @media (min-width: 90em) */

  /* -- Testimonial 6
--------------------------- */

  .testimonials li:nth-of-type(6) {
    grid-column: 1 / span 13;
    z-index: 5;
  }

  @media (min-width: 45em) {
    .testimonials li:nth-of-type(6) {
      grid-column: 1 / span 11;
    }
  } /* end @media (min-width: 45em) */

  @media (min-width: 60em) {
    .testimonials li:nth-of-type(6) {
      grid-column: 5 / span 7;
    }
  } /* end @media (min-width: 60em) */

  @media (min-width: 90em) {
    .testimonials li:nth-of-type(6) {
      grid-column: 4 / span 7;
    }
  } /* end @media (min-width: 90em) */

  /* -- Testimonial 7
--------------------------- */

  .testimonials li:nth-of-type(7) {
    grid-column: 3 / span 14;
    z-index: 4;
  }

  @media (min-width: 45em) {
    .testimonials li:nth-of-type(7) {
      grid-column: 4 / span 10;
    }
  } /* end @media (min-width: 45em) */

  @media (min-width: 60em) {
    .testimonials li:nth-of-type(7) {
      grid-column: 7 / span 8;
    }
  } /* end @media (min-width: 60em) */

  @media (min-width: 90em) {
    .testimonials li:nth-of-type(7) {
      grid-column: 6 / span 6;
    }
  } /* end @media (min-width: 90em) */

  .testimonial-about {
    display: grid;
    grid-template-columns: 3em auto;
    grid-template-rows: auto auto;
  }

  .testimonial-about picture {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .testimonial-about .name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
  }

  .testimonial-about .works-with {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    margin: 0;
  }
}

@supports (display: flex) {
  .testimonial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }
}

.testimonial:first-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 1em;
}

.testimonial .avatar {
  border-radius: 50%;
  height: 3em;
  width: 3em;
}

.testimonial .name {
  color: var(--grey00);
  padding-left: 1rem;
  margin-bottom: 0.2em;
}

.testimonial .works-with {
  color: var(--grey01);
  font-size: var(--font-xsmall);
  line-height: 1;
  padding-left: 1rem;
}

.testimonial-text {
  color: var(--white);
}

/* -- Company logos
-------------------------------------------------------------------- */

.used-in-production > h2 {
  margin-bottom: 2em;
  padding: 0.5em 0;
}

.used-in-production .grid-background {
  height: 81px;
  justify-self: center;
}

@supports (display: grid) {
  @media (min-width: 45em) {
    #content > .used-in-production {
      grid-column: 2 / 15;
      max-width: 100%;
    } /* 13 cols */

    .used-in-production > h2 {
      align-items: flex-start;
    }
  } /* end @media (min-width: 45em) */

  @media (min-width: 60em) {
    #content > .used-in-production {
      /* subgrid */
      display: grid;
      grid-template-columns: var(--grid-13-equal-columns);
      grid-template-rows: var(--grid-rows-auto);
    }

    .used-in-production > h2 {
      text-align: left;
      justify-content: center;
      grid-column: 1 / 5;
    }

    .used-in-production .grid-background {
      height: 121px;
      width: 321px;
      grid-column: 1 / 5;
    }

    .used-in-production .logo-list {
      grid-column: 5 / 14;
    }
  } /* end @media (min-width: 60em) */
} /* end @supports (display: grid) */

.logo-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

@media (max-width: 45em) {
  .logo-list {
    gap: 1.5em;
  }
}

@media (max-width: 65em) {
  .logo-list {
    justify-content: space-around;
    align-content: flex-start;
    grid-column: 6 / 15;
  }
}

.logo-list img {
  opacity: 0.5;
  height: 3em;
  margin: 0 0.5em;
}

/* -- Tagline/CTA
-------------------------------------------------------------------- */

@supports (display: grid) {
  @media (min-width: 45em) {
    #content > .tagline {
      grid-column: 6 / 12;
    } /* 6 cols */
  } /* end @media (min-width: 45em) */
} /* end @supports (display: grid) */

/* -- Email signup
-------------------------------------------------------------------- */

.email-signup form {
  border-top: var(--border-line);
}

@supports (display: flex) {
  .email-signup form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .email-signup h2,
  .email-signup label {
    text-align: center;
  }

  .email-signup label {
    margin-bottom: 0.5em;
  }

  .email-signup .fields {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    gap: 0.5em;
  }

  @media (min-width: 40em) {
    .email-signup .fields {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: stretch;
      align-items: center;
    }

    .email-signup .fields input[type='email'] {
      flex: 1 1 auto;
    }
  }

  @media (min-width: 60em) {
    .email-signup form {
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-end;
      padding: 1em 0;
    }

    .email-signup h2,
    .email-signup label,
    .email-signup .fields {
      text-align: left;
      flex: 0 1 50%;
    }

    .email-signup h2 {
      margin-bottom: 0.5em;
    }

    .email-signup label {
      margin-top: 1.2em;
    }
  }
} /* end @supports (display: flex) */

/* -- Footer
-------------------------------------------------------------------- */

[data-edge-source='make-your-code-do-more'] {
  padding: 0.5em 1em;
}

.site-footer {
  margin: 0 auto;
  padding: 0 1.35em;
}

ul.footer-list {
  /* requires ul for specificity */
  border-top: var(--border-line);
  margin: 1.35em 0;
  padding-top: 1.5em;
}

.footer-list li {
  border-bottom: var(--border-line);
}

.footer-list li:last-of-type {
  border-bottom: none;
}

.footer-list a {
  color: var(--text-footer);
  display: block;
  font-size: var(--font-xsmall);
  padding: 1.3em;
  text-align: center;
  text-decoration: none;
}

.footer-list a:hover,
.footer-list a:focus,
.footer-list a:active {
  text-decoration: underline;
}

@supports (display: flex) {
  .site-footer {
    padding: 0;
  }

  @media (min-width: 45em) {
    ul.footer-list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: stretch;
      align-items: flex-start;
      margin-bottom: 2.7em;
      padding-top: 0;
    }

    .footer-list li {
      border-bottom: none;
    }

    .footer-list li a {
      border-right: var(--border-line);
      padding-bottom: 0;
    }

    .footer-list li:last-of-type a {
      border-right: none;
    }
  } /* @media (min-width: 45em)*/
} /* end @supports (display:flex) */

.copyright {
  font-size: var(--font-xsmall);
  letter-spacing: var(--spacing-looser);
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 45em) {
  .copyright {
    margin-bottom: 2.7em;
  }
}

/* -- Privacy page
-------------------------------------------------------------------- */

.last-updated {
  margin: 0.8em 0 5em;
  text-align: center;
}

.privacy-section {
  border-bottom: var(--border-line);
  padding: 2.7em 0 0.675em;
  margin: 0 auto;
  max-width: 34.5em;
}

.privacy-section:last-of-type {
  border-bottom: none;
}

.privacy-section h2 {
  margin-top: 0;
}

/* -- Edges
-------------------------------------------------------------------- */
path.edge {
  stroke: #fff4;
}

/* -- Pricing page (copied from the React code Billing page)
-------------------------------------------------------------------- */
.pricing-grid {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  margin-top: 3rem;
}

@media (max-width: 1280px) {
  .pricing-grid {
    max-width: 600px;
    margin: 0 auto;
    grid-template-columns: repeat(1, minmax(0px, 1fr));
  }
  .pricing-arrow {
    display: none;
  }
}

.tier-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  margin-bottom: 1.5rem;
}

.feature-list .pricing-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  font-variation-settings: 'wght' 500;
  font-size: var(--font-small);
}

.horizontal {
  display: flex;
  justify-content: start;
  -webkit-box-align: center;
  align-items: center;
  flex-flow: row wrap;
}

.tier-wrapper {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
}

.tier {
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 0.75rem;
  width: 100%;
  background: var(--chakra-colors-gray-850);
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  padding-bottom: 2rem;
}

.tier.professional {
  background: var(--chakra-colors-gray-700);
}

.tier.professional .pricing-text {
  color: white;
}

.enterprise {
  /* padding copied from H2 */
  padding-top: 0.83em;
  padding-bottom: 0.83em;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 0.75rem;
  width: 100%;
  background: var(--chakra-colors-gray-800);
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}

.enterprise h2 {
  margin-top: 0;
}

.sign-up-button {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.pricing-heading {
  line-height: 1.2;
  color: white;
  font-variation-settings: 'wght' 700;
}

h1.pricing-heading {
  font-size: var(--font-xxl);
  margin-bottom: 1rem;
  margin-left: 2rem;
  text-align: left;
}

h2.pricing-heading {
  font-size: var(--font-large);
}

.pricing-text {
  color: var(--chakra-colors-gray-50);
}

.pricing-text.details {
  font-size: var(--font-small);
  color: var(--chakra-colors-gray-200);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
}

.pricing-text.details-bold {
  font-size: var(--font-xxsmall);
  color: var(--chakra-colors-gray-200) !important;
  margin-top: 0.5rem;
  font-variation-settings: 'wght' 200;
  max-width: 8em;
}

.pricing-text.description {
  color: var(--chakra-colors-gray-200);
  max-width: 768px;
  margin-left: 2rem;
  margin-bottom: 4rem;
}

.price-number {
  font-weight: 900;
  font-variation-settings: 'wght' 900;
  font-size: var(--font-xxl);
  margin: 0;
  /* hack for now to make community same height as professional with the detail text 
  since they are just slightly off otherwise?
  */
  min-height: 71px;
}

.details-wrapper {
  margin-top: 0px;
  margin-inline: 0.5rem 0px;
  margin-bottom: 0px;
}

.pricing-arrow {
  margin-top: 2rem;
  color: var(--chakra-colors-gray-600);
  width: 38px;
}

.pricing-section {
  margin-bottom: 8rem;
}
