.admonition {
  margin-bottom: 1em;
}

/* visually hide admonition headings as we should be using headings inside the admonition content 
  the heading text will act as alternative text for the icons
*/

.admonitionHeading code {
  text-transform: none;
}

.admonitionIcon {
  /* slightly offset vertical alignment */
  margin-top: -1px;
  margin-right: 0.5rem;
  float: left;
}

.admonitionIcon svg {
  vertical-align: middle;
  height: 24px;
  width: 24px;
  fill: currentColor;
}

.admonitionContent > * {
  margin-bottom: 0.35em;
}

.admonitionContent > :last-child {
  margin-bottom: 0;
}