.admonition {
  margin-bottom: 1em;
}

/* visually hide admonition headings as we should be using headings inside the admonition content 
  the heading text will act as alternative text for the icons
*/

.admonitionHeading code {
  text-transform: none;
}

.admonitionIcon svg {
  vertical-align: middle;
  height: 1.2em;
  width: 1.2em;
  fill: currentColor;
}

.admonitionContent > * {
  margin-bottom: 0.35em;
}

.admonitionContent > :last-child {
  margin-bottom: 0;
}