/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: 'TTCommons';
  src: url('/ttcommons.woff2') format('woff2');
  font-display: swap;
  font-weight: 100 1000;
}

html, body {
  font-weight: 450;
  font-variation-settings: 'wght' 450;
  /* fix variable fonts all being italic in Safari */
  font-variation-settings: 'slnt' 0;
}

/* Stately color variables */

:root {
  /* gray */
  --gray-50: #F8F8FA;
  --gray-100: #E6E7E9;
  --gray-200: #CDCFD4;
  --gray-300: #B4B8BF;
  --gray-400: #9BA0A8;
  --gray-500: #535A62;
  --gray-600: #555A61;
  --gray-700: #3E4248;
  --gray-800: #2A2B2F;
  --gray-900: #141417;

  /* blue */
  --blue-50: #d0e4ff;
  --blue-100: #a1c8ff;
  --blue-200: #72adff;
  --blue-300: #4392ff;
  --blue-400: #1476ff;
  --blue-500: #005fe4;
  --blue-600: #004cb6;
  --blue-700: #003887;
  --blue-800: #002558;
  --blue-900: #001129;

  /* orange */
  --orange-50: #ffe3d0;
  --orange-100: #ffc7a1;
  --orange-200: #ffab72;
  --orange-300: #ff8e43;
  --orange-400: #ff7214;
  --orange-500: #e45b00;
  --orange-600: #b64900;
  --orange-700: #873600;
  --orange-800: #582300;
  --orange-900: #291000;

  /* red */
  --red-50: #fcd3d3;
  --red-100: #faa6a6;
  --red-200: #f77a7a;
  --red-300: #f54e4e;
  --red-400: #f22121;
  --red-500: #d80d0d;
  --red-600: #ac0a0a;
  --red-700: #7f0707;
  --red-800: #530505;
  --red-900: #270202;

  /* yellow */
  --yellow-50: #ffefd0;
  --yellow-100: #ffdea1;
  --yellow-200: #ffce72;
  --yellow-300: #ffbd43;
  --yellow-400: #ffad14;
  --yellow-500: #e49500;
  --yellow-600: #b67600;
  --yellow-700: #875800;
  --yellow-800: #583900;
  --yellow-900: #291b00;

  /* green */
  --green-50: #d1feeb;
  --green-100: #a3fed6;
  --green-200: #74fdc2;
  --green-300: #46fcad;
  --green-400: #18fb99;
  --green-500: #03e181;
  --green-600: #03b367;
  --green-700: #02854c;
  --green-800: #015632;
  --green-900: #012817;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'TTCommons', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  --ifm-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --ifm-font-size-base: 112%; 
  --ifm-line-height-base: 1.5; 
  --ifm-color-primary: var(--blue-500);
  --ifm-color-primary-dark: var(--blue-600);
  --ifm-color-primary-darker: var(--blue-700);
  --ifm-color-primary-darkest: var(--blue-800);
  --ifm-color-primary-light: var(--blue-200);
  --ifm-color-primary-lighter: var(--blue-100);
  --ifm-color-primary-lightest: var(--blue-50);
  --color-text-emphasis: black;
  --ifm-color-content-secondary: #525860;
  --ifm-code-font-size: 95%;
  --ifm-link-decoration: underline;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-heading-vertical-rhythm-bottom: 0.75;
  --ifm-code-background: rgb(246, 247, 248); 
  --ifm-code-font-size: 90%; 
  --ifm-code-padding-horizontal: 0.1rem; 
  --ifm-code-padding-vertical: 0.1rem; 

  /* announcement bar */

  --announcement-background: var(--ifm-color-primary-darker);
  --announcement-text: var(--ifm-color-primary-lightest);

  /* breadcrumbs */
  --ifm-breadcrumb-size-multiplier: 1;
  --ifm-breadcrumb-border-radius: 0.75rem;
  --ifm-breadcrumb-padding-horizontal: 0.5rem; 
  --ifm-breadcrumb-color-active: var(--ifm-font-color-base);

  /* menu sidebar */

  --ifm-menu-color: var(--ifm-color-emphasis-700); 
  --ifm-menu-color-active: var(--ifm-color-primary); 
  --ifm-menu-color-background-active: var(--ifm-hover-overlay); 
  --ifm-menu-color-background-hover: var(--ifm-hover-overlay); 
  --ifm-menu-link-padding-horizontal: 0.75rem; 
  --ifm-menu-link-padding-vertical: 0.2em; 
  --ifm-menu-link-sublist-icon: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16px\" height=\"16px\" viewBox=\"0 0 24 24\"><path fill=\"rgba(0,0,0,0.5)\" d=\"M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z\"></path></svg>"); 
  --ifm-menu-link-sublist-icon-filter: none; 

  /* contents list */
  --ifm-toc-border-color: var(--ifm-color-emphasis-300); 
  --ifm-toc-link-color: var(--ifm-color-content-secondary); 
  --ifm-toc-padding-vertical: 0.35rem; 
  --ifm-toc-padding-horizontal: 0.5rem; 
}

/* use extra specificity in selector to override defaults */

html[data-theme='light'] {
  /* search */

  --docsearch-primary-color:#5468ff; 
  --docsearch-text-color:#1c1e21; 
  --docsearch-spacing:12px; 
  --docsearch-icon-stroke-width:1.4; 
  --docsearch-highlight-color:var(--docsearch-primary-color); 
  --docsearch-muted-color: var(--ifm-color-content-secondary); 
  --docsearch-container-background:rgba(101,108,133,0.8); 
  --docsearch-logo-color:#5468ff; 
  --docsearch-modal-width:560px; 
  --docsearch-modal-height:600px; 
  --docsearch-modal-background:#f5f6f7; 
  --docsearch-modal-shadow:inset 1px 1px 0 0 hsla(0,0%,100%,0.5),0 3px 8px 0 #555a64; 
  --docsearch-searchbox-height:56px; 
  --docsearch-searchbox-background:#ebedf0; 
  --docsearch-searchbox-focus-background:#fff; 
  --docsearch-searchbox-shadow:inset 0 0 0 2px var(--docsearch-primary-color); 
  --docsearch-hit-height:56px; 
  --docsearch-hit-color:#444950; 
  --docsearch-hit-active-color:#fff; 
  --docsearch-hit-background:#fff; 
  --docsearch-hit-shadow:0 1px 3px 0 #d4d9e1; 
  --docsearch-key-border: solid var(--ifm-color-content-secondary);
  --docsearch-key-gradient:linear-gradient(-225deg,#fff,#f8f8f8); 
  --docsearch-key-shadow: inset 0 -3px 0 0 var(--ifm-color-content-secondary); 
  --docsearch-footer-height:44px; 
  --docsearch-footer-background:#fff; 
  --docsearch-footer-shadow:0 -1px 0 0 #e0e3e8,0 -3px 6px 0 rgba(69,98,155,0.12); 
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: var(--blue-300);
  --ifm-color-primary-dark: var(var(--blue-400));
  --ifm-color-primary-darker: var(var(--blue-500));
  --ifm-color-primary-darkest: var(--blue-600);
  --ifm-color-primary-light: var(--blue-200);
  --ifm-color-primary-lighter: var(--blue-100);
  --ifm-color-primary-lightest: var(--blue-50);
  --color-text-emphasis: white;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-color-content-secondary: rgba(255, 255, 255, 1); 
}

/* use extra specificity in selector to override defaults */

html[data-theme='dark'] {
  /* search */

  --docsearch-container-background:rgba(9,10,17,0.8); 
  --docsearch-modal-background:#15172a; 
  --docsearch-modal-shadow:inset 1px 1px 0 0 #2c2e40,0 3px 8px 0 #000309; 
  --docsearch-searchbox-background:#090a11; 
  --docsearch-searchbox-focus-background:#000; 
  --docsearch-hit-color:#bec3c9; 
  --docsearch-hit-shadow:none; 
  --docsearch-hit-background:#090a11; 
  --docsearch-key-gradient:linear-gradient(-26.5deg,#565872,#31355b); 
  --docsearch-key-shadow: inset 0 -3px 0 0 var(--ifm-color-content-secondary); 
  --docsearch-key-border: solid var(--ifm-color-content-secondary);
  --docsearch-footer-background:#1e2136; 
  --docsearch-footer-shadow:inset 0 1px 0 0 rgba(73,76,106,0.5),0 -4px 8px 0 rgba(0,0,0,0.2); 
  --docsearch-logo-color:#fff; 
  --docsearch-muted-color: var(--ifm-color-content-secondary); 
}

[data-theme='light'] .shiki.github-dark {
  display: none;
}

[data-theme='dark'] .shiki.github-light {
  display: none;
}

/* Specific font-variation-settings for web font support */

:root {
  --ifm-font-weight-light: 420; 
  --ifm-font-weight-normal: 450; 
  --ifm-font-weight-semibold: 500; 
  --ifm-font-weight-bold: 600;
}

.text--light { 
  font-variation-settings: 'wght' var(--ifm-font-weight-light);
  font-variation-settings: 'slnt' 0;
}
.text--normal { 
  font-variation-settings: 'wght' var(--ifm-font-weight-normal);
  font-variation-settings: 'slnt' 0;
}
h1, h2, h3, h4, h5, h6, .text--semibold { 
  font-variation-settings: 'wght' var(--ifm-font-weight-semibold);
  font-variation-settings: 'slnt' 0;
}
.text--bold, strong, b {
  font-synthesis: none;
  font-weight: bold;
  font-weight: var(--ifm-font-weight-bold);
  font-variation-settings: 'wght' var(--ifm-font-weight-bold);
  font-variation-settings: 'slnt' 0;
}

.text--italic, em, i {
  font-synthesis: none;
  font-variation-settings: 'slnt' 10;
}

/* Make secondary (not content) text a consistent size */

.menu__link,
.breadcrumbs__link,
.table-of-contents,
.footer__copyright {
  font-size: 0.9rem;
}

/* Make link underlines interfere less with text readability */

a, a:hover {
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.1rem;
  text-decoration-thickness: 1px;
}

/* Don’t underline links in menus or button-like links */

.menu__link,
.table-of-contents__link,
.pagination-nav__link {
  text-decoration: none;
}

/* Set a maximum width and centre main content (including breadcrumbs) */

article {
  margin: 0 auto;
  max-width: 66ch;
}

/* Inline code */

code {
  border: none;
  vertical-align: baseline;
}

/* Header */

.navbar__logo {
  height: 1.5rem;
}

/* Announcement bar */

html div[role="banner"][class*="announcementBar"], html div.announcementBarContent_node_modules-\@docusaurus-theme-classic-lib-theme-AnnouncementBar-styles-module {
  background: var(--announcement-background) !important;
  color: var(--announcement-text);
  font-size: 0.9rem !important;
  height: auto !important; /* override default variable */
}

html div[role="banner"][class*="announcementBar"] [class*="announcementBarContent"], html div.announcementBarContent_node_modules-\@docusaurus-theme-classic-lib-theme-AnnouncementBar-styles-module [class*="announcementBarContent"] {
  padding: 0.35rem 0 !important;
}

/* Search */

html .DocSearch-Commands-Key, html .DocSearch-Button-Key {
  border: var(--docsearch-key-border);
  border-width: 0.1rem;
  box-shadow: var(--docsearch-key-shadow);
  font-size: 0.8rem;
  height: 1.2rem;
  padding: 0 0 2px 0;
  top: 1px;
  width: 1.2rem;
}

/* target the K key */

html .DocSearch-Button-Key:nth-of-type(2) {
  font-size: 0.6rem;
}

/* above point where search gets minimised */

@media (min-width: 768px) {
  html .DocSearch-Button { min-width: 50ch; }
}

@media (min-width: 997px) {
  html [class*=searchBox_node_modules] { 
    width: 100%;
  }
}

/* Light/dark mode button */

html [class*=toggleButton_node_modules] {
  height: 2rem;
  width: 2rem;
}

/* Breadcrumbs */

.breadcrumbs__item--active .breadcrumbs__link {
  font-weight: bold;
  font-weight: var(--ifm-font-weight-bold);
  font-variation-settings: 'wght' var(--ifm-font-weight-bold);
  font-variation-settings: 'slnt' 0;
}

.breadcrumbs__item--active {
  --ifm-breadcrumb-padding-horizontal: 0.75rem; 
}

/* Table of contents list */

.table-of-contents__link--active {
  color: var(--ifm-toc-link-color);
  font-weight: bold;
  font-weight: var(--ifm-font-weight-bold);
  font-variation-settings: 'wght' var(--ifm-font-weight-bold);
  font-variation-settings: 'slnt' 0;
}

.table-of-contents__link:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

/* Add more space above page title */

.markdown h1:first-child {
  margin-top: calc( var(--ifm-h1-vertical-rhythm-top) * var(--ifm-leading) ); 
}

/* Menu sidebar */

.menu { 
  overflow-x: hidden; 
}
.menu__list { 
  list-style: none; 
  margin: 0px; 
  padding-left: 0px; 
}
.menu__list .menu__list { 
  flex: 0 0 100%; 
  margin-top: 0; 
  margin-bottom: 0.1rem; 
}
.menu__list-item:not(:first-child) { 
  margin-top: 0; 
}
.menu__list-item-collapsible { 
  border-radius: 0; 
}

.menu__list .menu__list .menu__list-item-collapsible {
  margin-left: 0.4rem;
}

.menu__link, .menu__caret { 
  align-items: center; 
  border-radius: 0;
  display: flex; 
  transition: background var(--ifm-transition-fast) var(--ifm-transition-timing-default); 
}

.theme-doc-sidebar-item-link-level-2, .theme-doc-sidebar-item-link-level-3, .theme-doc-sidebar-item-link-level-4 {
  margin-left: 0.75rem;
}

.theme-doc-sidebar-item-link-level-3 {
  border-left: 1px solid var(--color-text-emphasis);
}

.theme-doc-sidebar-item-link-level-3 .menu__link--active {
  border-left: 3px solid var(--color-text-emphasis);
  margin-left: -2px;
}

.menu__link { 
  color: var(--ifm-menu-color); 
  flex: 1 1 0%; 
}

.menu__link--active {
  color: var(--color-text-emphasis);
  font-weight: bold;
  font-weight: var(--ifm-font-weight-bold);
  font-variation-settings: 'wght' var(--ifm-font-weight-bold);
  font-variation-settings: 'slnt' 0;
}

.menu__link:hover { 
  color: var(--ifm-color-primary); 
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.menu__link--sublist-caret::after, .menu__link--sublist-caret::after {
  display: none;
}

.menu__caret::before, .menu__link--sublist-caret::before { 
  content: ""; 
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem; 
  filter: var(--ifm-menu-link-sublist-icon-filter); 
  height: 1.25rem; 
  transform: rotate(180deg); 
  width: 1.25rem; 
  transition: transform var(--ifm-transition-fast) linear; 
}

.menu__link--sublist-caret::before { 
  margin-left: -0.25rem;
  margin-right: 0.25rem; 
  min-width: 1.25rem; 
}

.menu__list-item--collapsed .menu__link--sublist::before, 
.menu__list-item--collapsed .menu__caret::before { 
  transform: rotateZ(90deg); 
}

html[data-theme="dark"], .navbar--dark { --ifm-menu-link-sublist-icon-filter: invert(100%) sepia(94%) saturate(17%) hue-rotate(223deg) brightness(104%) contrast(98%); 
}

/* Next/prev links */

.pagination-nav__link--prev .pagination-nav__label::before {
  content: "← ";
}

.pagination-nav__link--next .pagination-nav__label::after {
  content: " →";
}

/* Hide external link icons in header and footer nav */

.navbar__items [class*=iconExternalLink],
.navbar-sidebar__items [class*=iconExternalLink],
footer [class*=iconExternalLink] {
  display: none;
}

/* Footer */

.footer__title {
  font-weight: bold;
  font-weight: var(--ifm-font-weight-bold);
  font-variation-settings: 'wght' var(--ifm-font-weight-bold);
  font-variation-settings: 'slnt' 0;
}

.footer__links {
  margin-bottom: 2rem;
}