.title {
  font-size: 2.5rem;
}

.title a {
  font-size: 2.5rem;
  text-decoration: none;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .title {
    font-size: 2rem;
  }
}
